<html>
    <body>
<ul>
    <li><a href='/auth/google'>Google</a></li>
    <li><a href='/auth/fb'>Facebook</a></li>
    <li>
    <form method="POST" action="/auth/signup">
        Email : <input type="text" name="email"> <br><br>
        Password: <input type="text" name="password">
        Enter Password again: <input type="text" name="password1"><br>
        <input type="submit">
    </form>
    </li><br><br><br>
    <li>
    <form method="POST" action="/auth/signin">
        Email : <input type="text" name="email">
        Password: <input type="text" name="password"><br>
        <input type="submit">
    </form>
</li>
</ul>
</body>
</html>